@import "_variables.scss";

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: $font;
  vertical-align: baseline;
}

.nav {
  position: fixed;
  width: 95px;
  height: 100vh;
  z-index: 999;
  background-color: white;

  .logo {
    background-color: $ada-pink;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 35px;
      transition: 0.2s;
    }

    &:hover {
      img {
        transform: scale(1.02);
        transition: 0.2s;
      }
    }
  }

  .nav-list {
    .nav-link {
      width: 95px;
      height: 95px;
      text-decoration: none;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border-bottom: 1px solid #f8f8f8;

      span {
        font-size: 9px;
        margin-top: 10px;
        color: $darkgrey;
        font-weight: lighter;
        letter-spacing: 0.5px;
        transition: 0.2s;
      }
      .fas {
        color: $ada-pink;
        transition: 0.2s;
      }

      &:hover {
        span {
          color: lighten($color: $ada-pink, $amount: 20%);
          transition: 0.2s;
        }
        .fas {
          color: lighten($color: $ada-pink, $amount: 20%);
          transition: 0.2s;
        }
      }
    }
  }
}

// HEADER
.search {
  position: fixed;
  left: 95px;
  width: calc(100% - 95px);
  height: 75px;
  z-index: 9999;
  background-color: $white;
  display: flex;
  align-items: center;
  align-content: center;

  .fas {
    position: absolute;
    top: 50%;
    margin-top: -10px;
    left: 60px;
    color: $grey;
    font-size: 20px;
  }

  input {
    border: none;
    padding: 15px 30px 15px 90px;
    font-family: $font;
    font-size: 16px;
    font-weight: lighter;
    width: 100%;
    outline: none;
    color: $darkgrey;
    box-sizing: border-box;
    &::placeholder {
      color: $grey;
    }
  }
}

// HOME

.main-container {
  position: relative;
  float: left;
  width: calc(100% - 95px);
  margin-left: 95px;
  margin-top: 75px;
  #home {
    .main-header {
      height: 384px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-image: url("../images/batman.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(247, 247, 247, 0.7);
      }
    }

    h1 {
      font-size: 26px;
      letter-spacing: 0.5px;
      font-weight: 500;
      z-index: 999;
      color: $ada-pink;
    }
  }

  // MOVIES
  .movies-container {
    position: relative;
    float: left;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: $lightgrey;
    .movies-header {
      position: relative;
      float: left;
      width: 100%;
      padding: 20px;
      box-sizing: border-box;
      h2 {
        font-size: 18px;
        margin: 10px 0;
        font-weight: 300;
        float: left;
        color: $ada-pink;
      }
      .view-all {
        font-size: 12px;
        font-weight: 300;
        float: right;
        line-height: 50px;
        text-decoration: none;
        color: $ada-pink;
  
        &:hover {
          color: $ada-pink;
        }
      }
    }
    .movies-list {
      display: flex;
      flex-wrap: wrap;
      align-content: space-between;
      position: relative;
      float: left;
  
      li {
        list-style: none;
        flex: auto;
        width: 20%;
        padding: 20px;
        box-sizing: border-box;
        justify-content: space-evenly;
        cursor: pointer;
        img {
          position: relative;
          float: left;
          width: 100%;
          cursor: pointer;
          transition: 0.5s ease;
        }
        a {
          font-size: 14px;
          color: $darkgrey;
          margin: 1rem 0;
          position: relative;
          float: left;
          width: 100%;
          text-decoration: none;
          transition: 0.5s ease;
        }
        &:hover {
          img {
            box-shadow: 2px 2px 7px rgba($color: #000000, $alpha: 0.2);
            transform: scale(1.02);
            transition: 0.5s ease;
          }
          a {
            color: $black;
            transition: 0.5s ease;
          }
        }
        
      }
    }
  }
  
}
#resultsContainer {
  button {
    position: relative;
    float: right;
  }
}

.display {
  display: block;
}

.hide {
  display: none;
}
